* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-menu,
.nav-menu-ul {
  display: none;
}
button {
  cursor: pointer;
}
.top-bg-section {
  background-image: url(../assets/top-background-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 55px;
  overflow: hidden;
  height: 697px;
  position: relative;
}
.bubbles-div {
  display: flex;
  background-image: url(../assets/Glowing-stars.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  transform: translateX(21px) scale(0.9) translateY(-15px);
  right: 0;
  animation: opacity 5s infinite;
}
.stars-div {
  background-image: url(../assets/galaxy-moving-stars-mobile.svg);
  width: 100%;
  height: 697px;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-53px);
  padding-top: 55px;
  animation: moveDiagonally 5s ease-in-out infinite;
  position: absolute;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveDiagonally {
  0% {
    transform: translate(0, -53px);
  }
  50% {
    transform: translate(-40px, -70px);
  }
  100% {
    transform: translate(0, -53px);
  }
}
.top-logo {
  position: absolute;
  top: 200px;
}
.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burger-menu {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.nav-menu-li {
  list-style: none;
}
.nav-menu,
.nav-menu-ul {
  display: flex;
  column-gap: 30px;
}
.nav-menu-text {
  text-decoration: none;
}
.burger-menu-component {
  border: 2px solid #ffffff;
  width: 26px;
}
.nav-menu,
.nav-menu-ul {
  display: none;
}
.company-name {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 260px;
}
.big-logo:hover {
  transform: scale(1.3) rotatey(180deg);
}
.middle-info-content-btn:hover {
  transform-origin: left bottom;
  transform: skewy(10deg);
}
.video-play-btn:hover {
  transform: scale(0.9);
  background-color: #ffffff;
  color: #55c2d8;
}
.big-logo,
.middle-info-content-btn,
.video-play-btn {
  transition: 0.3s;
}
.top-headline {
  margin-top: 18px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  color: #ffffff;
}
.under-top-headline {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: #ffffffb3;
  margin-top: 40px;
}
.middle-info-content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
  padding-top: 65px;
  padding-bottom: 120px;
}
.middle-info-content-manip {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.middle-info-content-headline {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  color: #464547;
}
.under-middle-info-content-headline {
  margin-top: 41px;
  margin-bottom: 28px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: #666666;
}
.middle-info-content-text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #666666;
}
.middle-info-content-btn {
  margin-top: 30px;
  padding: 6px 18px;
  border: none;
  border-radius: 18px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  background: #55c2d8;
}
.video-section {
  background-image: linear-gradient(#8c4f2a4d, #8c4f2a4d),
    url(../assets/video-bg-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video-play-btn {
  margin-top: 91px;
  margin-bottom: 82px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: #55c2d8;
  color: #ffffff;
  font-size: 2.5rem;
}
.video-section-manip {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video-section-headline {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  color: #ffffff;
}
.unde-video-play-btn {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: #ffffff;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #464547;
  padding: 60px 0px;
}
.small-logo-comnay-name {
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.footer-company-name {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}
.adress,
.mail,
.copyright {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.13rem;
  color: #ffffff66;
}
.adress {
  margin-top: 31px;
}
.mail {
  margin: 18px 0px;
}
.small-logo-comnay-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .stars-div {
    display: block;
  }
  .top-bg-section {
    background-image: url(../assets/top-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 55px;
    overflow: hidden;
    height: 697px;
    position: relative;
  }
  .stars-div {
    background-image: url(../assets/galaxy-moving-stars.svg);
    width: 100%;
    height: 697px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-53px);
    padding-top: 55px;
    animation: moveDiagonally 5s ease-in-out infinite;
    position: absolute;
  }

  .bubbles-div {
    display: flex;
    background-image: url(../assets/Glowing-stars.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    transform: translateX(35px) scale(0.95) translateY(3px);
    right: 0;
    animation: opacity 5s infinite;
  }

  .nav-menu,
  .nav-menu-ul {
    display: flex;
    column-gap: 3vw;
  }

  .burger-menu {
    display: none;
  }
  .header {
    position: relative;
  }
  .company-name {
    position: absolute;
    left: 3vw;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-menu-text {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .middle-info-content-text-manip {
    display: flex;
    column-gap: 3vw;
  }
  .footer {
    flex-direction: row;
  }
  .footer-manip {
    width: 80vw;
    display: flex;
    column-gap: 6.75vw;
    justify-content: space-between;
  }
  .adress {
    margin: 0;
    text-align: start;
  }
  .mail {
    margin-bottom: 0;
  }
  .middle-footer {
    width: 31.55vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .small-logo-comnay-name {
    align-items: flex-start;
  }
  .copyright-manip {
    display: flex;
    align-items: flex-end;
  }
}
